---
- name: add apt key
  apt_key: url=https://packages.elastic.co/GPG-KEY-elasticsearch

- name: add apt repo
  apt_repository:
    repo: deb http://packages.elastic.co/elasticsearch/2.x/debian stable main
    update_cache: yes

- name: install elasticsearch
  apt: name=elasticsearch={{ elasticsearch_version }} state=present

- name: install java
  apt: name=default-jdk state=present

- name: install plugins
  command: creates=/usr/share/elasticsearch/plugins/{{ item.name }} /usr/share/elasticsearch/bin/plugin install {{ item.url }}
  with_items: "{{ elasticsearch_plugins }}"
  notify:
    - restart elasticsearch

- name: enable elasticsearch
  service: name=elasticsearch enabled=yes
